.conteudo_numero_secreto{
    margin: 0 340px;
    display: flex;
    width: calc(100vh + 270px);
    height: calc(100vh - 3rem);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(4, 8, 75), rgb(5, 5, 196));
    border-radius: 200px;

.jogo_numero_secreto{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    align-items: center;
}
}

.jogo_numero_secreto h1{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
}

.jogo_numero_secreto p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.jogo_numero_secreto input{
    font-size: 2rem;
    margin-bottom: 40px;
    border-radius: 5px;
    text-indent: 2.5rem;
    width: 100px;
}

.botoes_numero_secreto{
    display: flex;
    justify-content: center;
}

.botoes_numero_secreto button{
    height: 4rem;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    background-color: hsl(120, 81%, 49%);
    cursor: pointer;
}

.botoes_numero_secreto button:hover{
    background-color: hsl(120, 81%, 39%);
}

.botoes_numero_secreto button:active{
    background-color: hsl(120, 81%, 29%);
}

.imagem_numero_secreto{
    width: 350px;
}