{% load static %}
<footer class="rodape">
    <div class="rodape__contatos">
        <p class="rodape__texto">Contatos:</p>
        <img class="rodape__icones__contato" src="{% static 'assets/icones/email.png' %}" alt="ícone email">
        <p class="rodape__contatos__item">leonan.ferreira.dev@hotmail.com</p>
        <img class="rodape__icones__contato__espaçamento-extra" src="{% static 'assets/icones/whatsapp.png' %}" alt="ícone whatsapp">
        <p class="rodape__contatos__item"> (17) 99232-8875</p>
    </div>
    <div class="rodape__icones">
        <a href="https://github.com/leonan1355" target="_blank">
            <img src="{% static 'assets/icones/github.png' %}" alt="ícone github">
        </a>
        <a href="https://www.codewars.com/users/leonan1355" target="_blank">
            <img src="{% static 'assets/icones/codewars.png' %}" alt="ícone codewars">
        </a>
        <a href="https://www.instagram.com/leonan_malaguti/" target="_blank">
            <img src="{% static 'assets/icones/instagram.png' %}" alt="ícone instagram">
        </a>
        <a href="https://www.linkedin.com/in/leonan-malaguti-ferreira-657980232/" target="_blank">
            <img src="{% static 'assets/icones/linkedin.png' %}" alt="ícone linkedin">
        </a>
    </div>
</footer>


