{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<section class="conteudo__paginas">
    <h1 class="titulo__paginas">JOGOS</h1>
    <section class="projeto__bloco">
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
    </section>
    <section class="projeto__bloco">
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
        <div class="projeto__card">
            <img class="projeto__imagem" src="{% static 'assets/imagens/work_in_progress.jpg' %}" alt="projeto x">
            <p>Projeto em Desenvolvimento</p>
        </div>
    </section>
</section>
{% endblock %}